<div class="users">
  <div class="control-panel">
    <form [formGroup]="filterGroup">
      <label class="select">Select column to filter:
        <select  formControlName="selectedType" data-test-id="select-type" >
          <option *ngFor="let opt of options" [value]="opt.value">{{ opt.text }}</option>
        </select>
      </label>
      <label class="input">Enter filter keywords:
        <input type="text" formControlName="filterText" data-test-id="filter-input" placeholder="filter keywords go here..." />
      </label>
    </form>
  </div>
  <div class="users-list-wrapper">
    <table class="users-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody *ngIf="filterValue==undefined && userData!=undefined && userData.length>0">
       
        <tr data-test-id="all-data"  *ngFor="let usrData of userData">
          <td>{{usrData.name}}</td>
          <td>{{usrData.username}}</td>
          <td>{{usrData.email}}</td>
          <td>{{usrData.phone}}</td>
          <td>{{usrData.website}}</td>
        </tr>
     
      </tbody>
      <tbody *ngIf="filterValue!=undefined && filterValue.length > 0">
      <tr data-test-id="filter-data" *ngFor="let usrData of filterValue">
        <td data-test-id="output-name" >{{usrData.name}}</td>
        <td data-test-id="output-username" >{{usrData.username}}</td>
        <td data-test-id="output-email" >{{usrData.email}}</td>
        <td data-test-id="output-phone" >{{usrData.phone}}</td>
        <td data-test-id="output-website">{{usrData.website}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
